<!-- app/views/home/index.html.erb -->
<div id="svelte-app" data-lista="<%= @produtos.to_json %>" data-admin="<%= current_user&.admin? %>"></div>

<script src="<%= asset_pack_path('hello_svelte.js') %>"></script>