<!-- app/views/home/index.html.erb -->
<div id="svelte-app" data-produto="<%= @produto.to_json %>" data-admin="<%= current_user&.admin? %>"></div>

<script src="<%= asset_pack_path('show_produto.js') %>"></script>