/* Variáveis */
$rosa-principal: #af7784;
$texto-principal: #0073b3;
$rosa-background: #ffb3e6;

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  background: $rosa-background;
  height: 100vh;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;

  background: radial-gradient(
    100% 100% at 0.81% 0%,
    #00000050 0%,
    $rosa-background 100%
  );
}

.navbar-icon {
  height: 60px;
}

.navbar-collapse ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.navbar-collapse li {
  margin-left: 10px;
}

/* Link da navbar */
.navbar-collapse a {
  position: relative; /* Adiciona posição relativa para poder usar ::after */
  color: $texto-principal;
  font-size: 1.3rem;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajuste a altura da barra aqui */
    width: 100%;
    height: 2px; /* Ajuste a largura da barra aqui */
    background-color: $texto-principal; /* Cor da barra */
    transform: scaleX(0); /* Inicialmente, a barra não é visível */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
  }
  &:hover::after {
    transform: scaleX(
      1
    ); /* Ao passar o mouse, a barra aparece */
  }
}

/* Conteúdo principal */
.container {
  margin-top: 20px;
}
