@import "font-awesome";
@import "toastify-js/src/toastify.css";

/* Variáveis */
:root {
  --rosa-principal: #ff69b4; /* Rosa mais vibrante */
  --rosa-claro: #ffb6c1; /* Rosa claro */
  --rosa-escuro: #ff1493; /* Rosa escuro */
  --texto-principal: #8b008b; /* Cor de texto principal */
  --texto-secundario: #191919; /* Cor de texto principal */
}

/* Reset CSS */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para a navbar */
.navbar {
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 4rem;
}

/* Estilos para a parte esquerda da navbar */
.navbar-left {
  display: flex;
  align-items: center;
}

/* Estilos para o número de telefone */
.navbar-phone {
  margin-right: 1rem;
}

/* Estilos para o email */
.navbar-email {
  margin-right: 1rem;
}

/* Estilos para a parte direita da navbar */
.navbar-right {
  display: flex;
  align-items: center;
}

/* Estilos para o botão de login */
.navbar-login {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* Estilos gerais */
body {
  background: url("/assets/background-md.svg"); /* Substitua o caminho da imagem pelo caminho correto em seu projeto */
  background-repeat: no-repeat; /* ajuste a repetição da imagem conforme necessário */
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
nav {
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.navbar-icon {
  height: 60px;
}

.navbar-collapse ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; /* Alterado para centralizar os itens */
}

.navbar-collapse li {
  margin-left: 10px;
}

.nav-cart {
  margin-left: 10px; /* Adicionado para criar espaço entre os itens */
}

/* Link da navbar */
.navbar-collapse a,
.nav-cart a {
  position: relative; /* Adiciona posição relativa para poder usar ::after */
  color: var(--texto-principal);
  font-size: 1.3rem;
  text-decoration: none;
  &:hover {
    filter: brightness(120%);
  }
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px; /* Ajuste a altura da barra aqui */
    width: 100%;
    height: 2px; /* Ajuste a largura da barra aqui */
    background-color: var(--texto-principal); /* Cor da barra */
    transform: scaleX(0); /* Inicialmente, a barra não é visível */
    transition: transform 0.3s ease-in-out; /* Adiciona uma transição suave */
  }
  &:hover::after {
    transform: scaleX(1); /* Ao passar o mouse, a barra aparece */
  }
}

/* Conteúdo principal */
.container {
  margin-top: 20px;
  padding-inline: 1rem;
}
